@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Global Styles */

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f3d7a8 ;

}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    
}

header .logo {
    cursor: pointer;
    margin-right: none;
}

@media (max-width: 1000px) {
    img.heading-1 {
        display: none; /* Hide the logo when window gets too small */
        
    }
}

/* Nav Bar */

.nav_links {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: -17%;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3 ease 0s;
    position: relative;
    transition: color 1s;
}

.nav_links li a:hover {
    color: #9ab28a;
}

.nav_links li a {
    transition: all 0.3 ease 0s;
    position: relative;
}

.nav_links li a:before {
    content: '';
    position: absolute; 
    width: 0%;
    height: 2px; 
    bottom: -2px; 
    left: 0; 
    background-color: transparent; 
    transition: all 0.3s ease 0s; 
}

.nav_links li a:hover:before {
    background-color: #9ab28a;
    width: 100%;
}

/* Button */

button {
    margin: right auto;
    padding: 9px 25px;
    background-color: #9ab28a;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover {
    /*background-color: rgba(92, 126, 99, 0);*/
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #b35933;
    text-decoration: none;
}

/* Button Page */
.contact-menu {
    display: none;
    position: absolute;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 25px;
  }
  
  .contact-menu a {
    color: #26262686;
    text-decoration: none;
    display: block;
    padding: 5px;
  }
  
  .contact-button:hover .contact-menu {
    display: block;
  }

/* Headings */

h1 {
    color: #b35933;
    text-align: center;
    animation: fade-up 1s ease-in;

}

.heading-1 {
    animation: fade-down 1s ease-in;
}

.heading-2 {
    animation: fade-up 1s ease-in;
}


/* Paragraphs */

p {
    /**display: flex;*/
    color: #26262686;
    text-align: center;
    margin-top: 20px;
    max-width: 500px;
}
/* Bio Div */

div.bio {
    background-color: #9ab28a;
    border-radius: 25px;
    border: 2px solid rgb(84, 42, 0);
    height: 600px;
    width: 400px;
    text-align: center;
    padding-top: 10px;
    padding: 10px;
    margin: 30px;
}

div.image-container {
    margin-top: 5px;
    background-color: #9ab28a;

}

img {
    border-radius: 25px;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: fade-up 1s ease-in;
}

/* Body */

body {
    margin: 50px;
}

/* KEYFRAMES */

@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9)
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1)
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9)
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1)
    }
}


/* MEDIA FORMATTING 

@media (max-width: 767px) {

    header .logo{
        cursor: pointer;
        margin-right: auto;
        width: 100px;
        height: auto; 
} */
